# Created by .ignore support plugin (hsz.mobi)
/.idea/
/emoji_images/
/lib/
/Full Emoji List, v15.0.html
/githubEmojiApi.json
/emoji_list.html
/emoji_images.json
/out/
/emoji-cheat-sheet.com/
/github_emoji/
/EmojiReference.json
/EmojiReference.txt
/emoji_modifier_list.html
/Full Emoji Modifier Sequences, v15.0.html
